* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: AgencyRegular;
    src: url('../resources/fonts/AgencyBold.ttf');
}

img[alt="GeekOnLanLogo"] {
    display: block;
    margin: 0 auto;

    width: 240px;
    height: auto;
    position: relative;
    top: -1px;
    z-index: 1;
}

header {
    background-color: #383838;
    height: 45px;
    position: relative;
    z-index: 1;
}

#menu {
    margin-bottom: 60px;
}

header > hr {
    position: relative;
    width: 60%;
    top: 20px;
    margin: 0 auto;
}

#menu ul:first-child {
    background-color: #D84508;
    margin-right: 110px;
    right: 50%;
}

#menu ul:last-child {
    background-color: #489FC7;
    margin-left: 110px;
    left: 50%;
}

#menu > ul {
    display: table;
    table-layout: fixed;

    list-style: none;
    text-align: center;
    box-shadow: 2px 2px 2px 0 #333;

    position: absolute;
    width: 30%;
    z-index: 0;
}

#menu > ul > li {
    display: table-cell;
    margin: 0 -1px;

    perspective: 10000px;
    -webkit-perspective: 10000px;
    -moz-perspective: 10000px;
}

#menu ul:first-child li {
    background-color: #FF5B00;
}

#menu ul:last-child li {
    background-color: #40CFF6;
}

#menu > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: AgencyRegular, serif;

    padding-top: 6px;
    padding-bottom: 6px;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

#menu > ul > li > a::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    content: attr(title);

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);

    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
}

#menu > ul > li > a:hover, #menu > ul > li:hover a {
    transform: rotateX(90deg) translateY(-45px);
    -webkit-transform: rotateX(90deg) translateY(-45px);
    -moz-transform: rotateX(90deg) translateY(-45px);
    -ms-transform: none;
}

#menu > ul:last-child > li:hover > a::before, #menu > ul:last-child > li > a:hover::before {
    background: #3DB2E1;
}

#menu > ul:first-child > li:hover > a::before, #menu > ul:first-child > li > a:hover::before {
    background: #DE5800;
}