* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: AgencyRegular;
    src: url('../resources/fonts/AgencyBold.ttf');
}

img[alt="GeekOnLanLogo"] {
    display: block;
    margin: 0 auto;

    width: 240px;
    height: auto;
    position: relative;
    top: -1px;
    z-index: 1;
}

header {
    background-color: #383838;
    height: 45px;
    position: relative;
    z-index: 1;
}

#menu {
    margin-bottom: 60px;
}

header > hr {
    position: relative;
    width: 900px;
    top: 20px;
    margin: 0 auto;
}

#menu ul:first-child {
    list-style: none;
    background-color: #D84508;
    box-shadow: 2px 2px 2px 0 #333;
    text-align: center;

    display: inline-block;
    position: relative;
    float: left;

    left: 50%;
    margin-left: -590px;
    z-index: 0;
}

#menu ul:last-child {
    list-style: none;
    background-color: #489FC7;
    box-shadow: 2px 2px 2px 0 #333;
    text-align: center;

    display: inline-block;
    position: relative;
    float: right;

    right: 50%;
    margin-right: -590px;
    z-index: 0;
}

#menu > ul > li {
    display: inline-block;
    margin: 0 -1px;
}

#menu ul:first-child li {
    background-color: #FF5B00;
}

#menu ul:last-child li {
    background-color: #40CFF6;
}

#menu > ul > li > a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: AgencyRegular, serif;

    width: 250px;
    padding-top: 6px;
    padding-bottom: 6px;

    transition: all 0.3s;
    transform-origin: 50% 0%; /* TODO ajouter le support des autres navigateurs dissidents */
    transform-style: preserve-3d;
}

#menu > ul > li > a::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;

    content: attr(title);
    transition: all 0.3s;
    transform: rotateX(-90deg); /* TODO ajouter le support des autres navigateurs dissidents */
    transform-origin: 50% 0%;
}

#menu > ul > li > a:hover, #menu > ul > li:hover a {
    transform: rotateX(90deg) translateY(-35px); /* TODO ajouter le support des autres navigateurs dissidents */
}

#menu > ul:last-child > li:hover > a::before, #menu > ul:last-child > li > a:hover::before {
    background: #3DB2E1;
}

#menu > ul:first-child > li:hover > a::before, #menu > ul:first-child > li > a:hover::before {
    background: #DE5800;
}