* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #313131;
    font-family: AgencyRegular, Arial, serif;
}

*::-moz-selection {
    background:#40CFF6;
    color:#d95600;
}

@font-face {
    font-family: AgencyRegular;
    src: url('../../resources/fonts/AgencyBold.ttf');
}

/** ================================= **/
/** ==== Formulaire de connexion ==== **/
/** ================================= **/

#connexionForm table {
    width: 90%;
    border-collapse: collapse;
    margin: 15px auto;
}

#connexionForm h2 {
    background: #d95600;
    color: #b9b9b9;

    border-left: solid 3px #222;
    border-bottom: solid 3px #222;
    border-right: solid 3px #222;

    font-size: 26px;

    display: block;

    height: 40px;
    width: 150px;

    margin: -9px auto 0;
}

#connexionForm input {
    background-color: #3f3f3f;
    border: none;
    font-size: 22px;
    color: #b9b9b9;

    display: block;
    width: 100%;
    height: 50px;

    transition: box-shadow 0.3s;
    box-sizing: border-box;
    padding: 0 10px;
}

#connexionForm input:invalid {
    box-shadow: 0 0 5px 0 red inset;
}

#connexionForm tr {
    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #222;
}

#connexionForm .connexionIcon {
    width: 50px;
}

#connexionForm img {
    width: 50px;
    height: 50px;

    background-color: #40CFF6;
    box-shadow: 0 0 5px 0 #333 inset;

    vertical-align: middle;
}

#connexionForm div:last-child {
    display: table;
    table-layout: fixed;

    margin: 20px auto;
    width: 90%;
}

#connexionForm a {
    display: table-cell;
    background: #3f3f3f;
    color: #b9b9b9;

    font-size: 32px;
    text-decoration: none;

    box-shadow: 2px 2px 1px 0 #111;
    border: solid 2px #222;
}

#connexionForm a:nth-child(2) {
	background: #FF5B00;
	box-shadow: none;
	
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 35px;
	height: 36px;
	font-size: 27px;
	
	text-align: center;
	margin-top: -10px;
	
}

#connexionForm a:active, #connexionForm button:active {
    background: #5b5b5b;
}

#connexionForm button:hover , #connexionForm a:hover {
	    box-shadow: 0 0 2px 2px black inset;
}


#connexionForm button {
    display: table-cell;
    width: 100%;
    font-family: AgencyRegular, Arial, serif;

    color: #b9b9b9;
    background: #3f3f3f;
    font-size: 32px;

    box-shadow: 2px 2px 1px 0 #111;
    border: solid 2px #222;
}

#connexionForm {
    border-top: solid 10px #FF5B00;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    margin-left: -12.5%;
    margin-top: -150px;

    width: 35%;
    min-width: 300px;
    text-align: center;

    background: #3a3a3a;
    box-shadow: 2px 2px 1px 0 #111;

    visibility: hidden;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;

    transform: translateX(100%) scale(0, 0);
    -webkit-transform: translateX(100%) scale(0, 0);
    -moz-transform: translateX(100%) scale(0, 0);
}

/** ======================================== **/
/** ==== Animation du menu de connexion ==== **/
/** ======================================== **/

#connexionForm.open {
    visibility: visible;

    transform: translateX(0) scale(1, 1) ;
    -webkit-transform: translateX(0) scale(1, 1) ;
    -moz-transform: translateX(0) scale(1, 1);
}

#layer.connexionLayer {
    visibility: visible;
    opacity: 1;
}

/** ======================================== **/
/** ==== Barre de navigation et en-tête ==== **/
/** ======================================== **/

img[alt="GeekOnLanLogo"] {
    display: block;
    margin: 0 auto;

    width: 240px;
    height: auto;
    position: relative;
    top: -1px;
    z-index: 1;
}

header {
    background-color: #383838;
    height: 45px;
    position: relative;
    z-index: 1;
}

header > hr {
    position: relative;
    width: 60%;
    top: 20px;
    margin: 0 auto;
}

#menu {
    margin-bottom: 60px;
    position: relative;
}

#menu ul:first-child {
    background-color: #D84508;
    margin-right: 110px;
    right: 50%;
}

#menu ul:last-child {
    background-color: #489FC7;
    margin-left: 110px;
    left: 50%;
}

#menu > ul {
    display: table;
    table-layout: fixed;
    border-spacing: 1px 0;

    list-style: none;
    text-align: center;
    box-shadow: 2px 2px 1px 0 #111;

    position: absolute;
    width: 30%;
    z-index: 0;
}

#menu > ul > li {
    display: table-cell;

    perspective: 10000px;
    -webkit-perspective: 10000px;
    -moz-perspective: 10000px;
}

#menu ul:first-child li {
    background-color: #FF5B00;
}

#menu ul:last-child li {
    background-color: #40CFF6;
}

#menu > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 24px;

    padding-top: 6px;
    padding-bottom: 6px;

    transition: transform 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

#menu > ul > li > a::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    content: attr(title);

    transition: transform 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    transform: rotateX(-89deg);
    -webkit-transform: rotateX(-89deg);
    -moz-transform: rotateX(-89deg);

    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
}

#menu > ul > li > a:hover, #menu > ul > li:hover a {
    transform: rotateX(90deg) translateY(-45px);
    -webkit-transform: rotateX(90deg) translateY(-45px);
    -moz-transform: rotateX(90deg) translateY(-45px);
    -ms-transform: none;
}

#menu > ul:last-child > li:hover > a::before, #menu > ul:last-child > li > a:hover::before {
    background: #3DB2E1;
}

#menu > ul:first-child > li:hover > a::before, #menu > ul:first-child > li > a:hover::before {
    background: #DE5800;
}

/** ================= **/
/** ==== Sidebar ==== **/
/** ================= **/

/** Propriétées générales **/

#sidebar > ul > li {
    background: #383838;
}

#sidebar > ul {
    position: relative;
    margin-top: -50%;
    top: 50%;
}

#sidebarButton {
    border-left: solid 3px #222;
    border-bottom: solid 3px #222;
    border-right: solid 3px #222;
    border-top: solid 3px #222;
    position: fixed;
    background: url("../../resources/img/menu.png") no-repeat center;
    background-size: contain;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius:  0 5px 5px 0;
}

#sidebarButton:hover{
    box-shadow: 0 0 2px 2px black inset;
}

#sidebarButton:active{
    outline: none;
}

#layer {
    position: fixed;
    visibility: hidden;

    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: #333333;
    opacity: 0;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#mainframe article {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#mainframe {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
    visibility: visible;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;

    transform-style: flat;
    -webkit-transform-style: flat;
}

/** Animation de la sidebar **/

#sidebar {
    position: fixed;
    visibility: hidden;
    z-index: 1;

    left: 0;
    width: 260px;
    height: 100%;

    background-color: #555555;

    list-style: none;

    transition: transform 0.5s,visibility 0.5s;
    -webkit-transition: transform 0.5s,visibility 0.5s;
    -moz-transition: transform 0.5s,visibility 0.5s;
    -o-transition: transform 0.5s,visibility 0.5s;

    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;

    transform: translateX(-100%);
    -webkit-transform: perspective(300px) translateX(-100%) rotateY(90deg);
    -moz-transform: translateX(-100%);

    transform-style: flat;
    -webkit-transform-style: flat;
}

#sidebar.sidebarOpen {
    visibility: visible;

    transform: translateX(0);
    -webkit-transform: rotateY(0deg);
    -moz-transform: translateX(0);
}

#mainframe.pushedMainframe {
    transform: translateX(250px);
    -webkit-transform: perspective(800px) translateX(250px) translateZ(-100px) rotateY(-5deg);
    -moz-transform: translateX(250px);
}

#mainframe.slide {
    transform: translateX(-100%) scale(0);
    visibility: hidden;
}

#layer.sidebarLayer {
     visibility: visible;
     opacity: 0.5;
 }

/** Animation au survole **/

#sidebar > ul > li > a:hover {
    border-left: 50px solid #FF5B00;
}

#sidebar > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 24px;

    margin: 5px 0;
    padding: 7px 0 7px 30px;

    transition: border-left 0.3s;
    -webkit-transition: border-left 0.3s;
    -moz-transition: border-left 0.3s;
    -o-transition: border-left 0.3s;

    border-left: 10px solid #40CFF6;
}

/*notificationc*/

#notifNumber{
    text-align: center;
    height: 29px;
    width : 29px;
    background-color: #9f0000;
    color : red;
    display : inline-block;
    border: solid 2px #222;
    border-radius: 5px;
}