* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #313131;
    font-family: AgencyRegular, serif;
}

@font-face {
    font-family: AgencyRegular;
    src: url('../../resources/fonts/AgencyBold.ttf');
}

/** ================================= **/
/** ==== Formulaire de connexion ==== **/
/** ================================= **/

#connexionForm {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    margin-left: -15%;
    margin-top: -15%;

    width: 30%;
    height: 60%;

    background: #DDDDDD;
    box-shadow: 2px 2px 2px 0 #333;

    transition: transform 0.3s;

    transform-origin: 50% 50%;
    transform: scale3d(0, 0, 0) rotateZ(360deg);
}

#connexionForm.open {
    transform: scale3d(1, 1, 1) rotateZ(0deg);
}

#layer.backgroundLayer {
    visibility: visible;
    opacity: 0.5;
}

/** ======================================== **/
/** ==== Barre de navigation et en-tête ==== **/
/** ======================================== **/

img[alt="GeekOnLanLogo"] {
    display: block;
    margin: 0 auto;

    width: 240px;
    height: auto;
    position: relative;
    top: -1px;
    z-index: 1;
}

header {
    background-color: #383838;
    height: 45px;
    position: relative;
    z-index: 1;
}

header > hr {
    position: relative;
    width: 60%;
    top: 20px;
    margin: 0 auto;
}

#menu {
    margin-bottom: 60px;
}

#menu ul:first-child {
    background-color: #D84508;
    margin-right: 110px;
    right: 50%;
}

#menu ul:last-child {
    background-color: #489FC7;
    margin-left: 110px;
    left: 50%;
}

#menu > ul {
    display: table;
    table-layout: fixed;
    border-spacing: 1px 0;

    list-style: none;
    text-align: center;
    box-shadow: 2px 2px 2px 0 #333;

    position: absolute;
    width: 30%;
    z-index: 0;
}

#menu > ul > li {
    display: table-cell;

    perspective: 10000px;
    -webkit-perspective: 10000px;
    -moz-perspective: 10000px;
}

#menu ul:first-child li {
    background-color: #FF5B00;
}

#menu ul:last-child li {
    background-color: #40CFF6;
}

#menu > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 24px;

    padding-top: 6px;
    padding-bottom: 6px;

    transition: transform 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

#menu > ul > li > a::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    content: attr(title);

    transition: transform 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    transform: rotateX(-89deg);
    -webkit-transform: rotateX(-89deg);
    -moz-transform: rotateX(-89deg);

    transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
}

#menu > ul > li > a:hover, #menu > ul > li:hover a {
    transform: rotateX(90deg) translateY(-45px);
    -webkit-transform: rotateX(90deg) translateY(-45px);
    -moz-transform: rotateX(90deg) translateY(-45px);
    -ms-transform: none;
}

#menu > ul:last-child > li:hover > a::before, #menu > ul:last-child > li > a:hover::before {
    background: #3DB2E1;
}

#menu > ul:first-child > li:hover > a::before, #menu > ul:first-child > li > a:hover::before {
    background: #DE5800;
}

/** ================= **/
/** ==== Sidebar ==== **/
/** ================= **/

/** Propriétées générales **/

#sidebar > ul > li {
    background: #383838;
}

#sidebar > ul {
    position: relative;
    margin-top: -50%;
    top: 50%;
}

#sidebarButton {
    position: fixed;
    background: #DDD url("../../resources/img/option.png") no-repeat center;

    top: 50%;
    width: 50px;
    height: 100px;
    margin-top: -50px;
}

#layer {
    position: fixed;
    visibility: hidden;

    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: #333333;
    opacity: 0;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}


#mainframe {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: white;

    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

/** Animation de la sidebar **/

#sidebar {
    position: fixed;
    visibility: hidden;
    z-index: 1;

    left: 0;
    width: 250px;
    height: 100%;

    background-color: #555555;

    list-style: none;

    transition: transform 0.5s,visibility 0.5s;
    -webkit-transition: transform 0.5s,visibility 0.5s;
    -moz-transition: transform 0.5s,visibility 0.5s;
    -o-transition: transform 0.5s,visibility 0.5s;

    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;

    transform: perspective(300px) translate3d(-100%, 0, 0) rotateY(90deg);
    -webkit-transform: perspective(300px) translate3d(-100%, 0, 0) rotateY(90deg);
    -moz-transform: perspective(300px) translate3d(-100%, 0, 0) rotateY(90deg);
}

#sidebar.sidebarOpen {
    visibility: visible;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

#mainframe.pushedMainframe {
    transform: perspective(100px) translateX(250px);
    -webkit-transform: perspective(800px) translateX(250px) translateZ(-100px) rotateY(-5deg); /** Meilleure animation pour Chrome, et oui messieurs ! **/
    -moz-transform: perspective(100px) translateX(250px);
}

#layer.foregroundLayer {
    visibility: visible;
    opacity: 0.5;
}

/** Animation au survole **/

#sidebar > ul > li > a:hover {
    border-left: 50px solid #FF5B00;
}

#sidebar > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 24px;

    margin: 5px 0;
    padding: 7px 0 7px 30px;

    transition: border-left 0.3s;
    -webkit-transition: border-left 0.3s;
    -moz-transition: border-left 0.3s;
    -o-transition: border-left 0.3s;

    border-left: 10px solid #40CFF6;
}