#myPrompt{
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    margin-left: -15%;
    margin-top: -150px;

    width: 30%;
    height: 270px;
    text-align: center;

    background: #313131;
    box-shadow: 2px 2px 2px 0 #333;

    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;

    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;

    transform: scale3d(0, 0, 0);
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
}

#myPrompt.open {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
}

#layer.deleteLayer {
    visibility: visible;
    opacity: 0.5;
}

#promptTitle{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #489FC7;
}

.ok, .annuler{
    width: 80%;
    height: 45px;
    margin: 30px auto;
    font-family: AgencyRegular, Arial, serif;

    color: #b9b9b9;
    background: #3f3f3f;
    border: none;
    font-size: 32px;
    background: #585858;
}

.ok{
    width: 80%;
    height: 45px;
    margin: 30px auto;
    font-family: AgencyRegular, Arial, serif;

    color: #b9b9b9;
    background: #3f3f3f;
    border: none;
    font-size: 32px;
    background: #585858;
}

.annuler{
    width: 80%;
    height: 45px;
    margin: 30px auto;
    font-family: AgencyRegular, Arial, serif;

    color: #b9b9b9;
    background: #3f3f3f;
    border: none;
    font-size: 32px;
    background: #585858;
}