.listeLans {
    text-align: center;
    padding: 0 5%;
}

.lanBlocks {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 10px;

    background: #fafafa;
    border: 5px solid #fafafa;
    border-right-color: #cdcdcd;
    border-bottom-color: #cdcdcd;
    box-shadow: 1px 1px 1px 1px #282828;

    text-align: left;
    overflow: hidden;
}

.lanBlocks > span {
    position: absolute;
    left: 115px;
    font-size: 32px;
    width: 180px;
}

.lanInfo {
    position: absolute;
    top: 110px;

    width: 100%;
}

.lanInfo hr {
    margin-top: 3px;
    margin-bottom: 20px;
    margin-left: 10px;
    width: 60%;
}

.lanInfo span {
    padding: 0 10px;
}

.lanInfo span:first-child {
    color: #5b5b5b;
    font-size: 36px;
}

/* ==== Si pas de Lan ==== */

.noLan {
    width: 400px;
    height: 200px;
    background: #fafafa;
    margin: auto;

    padding: 15px;

    border: 5px solid #fafafa;
    border-right-color: #cdcdcd;
    border-bottom-color: #cdcdcd;
    box-shadow: 1px 1px 1px 1px #282828;
}

.noLan p {
    font-size: 42px;
    color: #333333;
}

/* ==== Boutons ==== */

.lanInfo a, .noLan a ,.lanInfo button, .noLan button {
    display: block;
    width: 90%;
    box-sizing: border-box;
    padding: 2px 10px;
    margin: 7px auto;

    font-family: AgencyRegular, Arial, serif;
    font-size: 32px;
    text-decoration: none;
    text-align: center;

    color: #373737;
    background: #c6c6c6;
    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #666666;
}

.lanInfo a:hover, .noLan a:hover ,.lanInfo button:hover, .noLan button:hover{
    background: #dedede;
}

/* ===== Date ===== */

.lanDate {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 2;

    width: 100px;
    height: 100px;
    background: #fafafa;
    border: 5px solid #cccccc;
    text-align: center;
}

.lanDate span {
    display: block;
}

.lanDate span:first-child {
    color: #40CFF6;
    font-size: 70px;
    margin-top: -10px;
}

.lanDate span:last-child {
    font-size: 28px;
    margin-top: -10px;
    color: #313131;
}

/* ====================================== */
/* ==== Affichage du menu de details ==== */
/* ====================================== */

div[id^=details] button:hover{
    box-shadow: 0 0 2px 2px black inset;
}

div[id^=details]{
    border-top: solid 10px #FF5B00;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    margin-left: -12.5%;
    margin-top: -150px;

    width: 25%;
    min-width: 300px;
    text-align: center;

    background: #3a3a3a;
    box-shadow: 2px 2px 1px 0 #333;

    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;

    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;

    transform: scale3d(0, 0, 0);
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
}

div[id^=details] h2 {
    background: #FF5B00;
    color: #b9b9b9;

    border-left: solid 3px #222;
    border-bottom: solid 3px #222;
    border-right: solid 3px #222;

    font-size: 26px;

    display: block;

    height: 40px;
    width: 270px;

    margin: -9px auto 0;
}

div[id^=details] button {
    width: 90%;
    font-family: AgencyRegular, Arial, serif;

    color: #b9b9b9;
    background: #3f3f3f;
    font-size: 32px;

    box-shadow: 2px 2px 1px 0 #111;
    border: solid 2px #222;
}

div[id^=details] button:active{
    background: #5b5b5b;
}

div[id^=details] button{
    margin: 20px;
}

div[id^=details] .title{
   font-size: 1.5em;
    border-bottom: 1px solid #FF5B00;
}