#mainframe article > table {
    background: #3a3a3a;
    width: 70%;
    min-width: 800px;
    margin: auto;
    box-shadow: 2px 2px 0 0 #111;

    text-align: center;
    border-collapse: collapse;
}

#mainframe article > table tr {
    height: 40px;
    font-size: 28px;
    color: #acacac;
    font-weight: normal;
}

#mainframe article > table > thead > tr {
    border-bottom: solid 5px #D84508;
}

#mainframe article > table > tbody > tr:nth-child(odd) {
    background: #494949;
}

#mainframe article > div > button {
    width: 200px;
}

#mainframe article > div {
    text-align: center;
    margin-bottom: 20px;
}

/** ------------------------ **/
/** Mise en forme des filtre **/
/** ------------------------ **/

#mainframe form[name="filter"] {
    font-family: Arial, sans-serif;
    background: #3a3a3a;

    width: 70%;
    min-width: 800px;
    margin: auto auto 20px;
    padding: 5px;

    box-sizing: border-box;
    box-shadow: 2px 2px 0 0 #111;
    border-radius: 5px;
}

#mainframe form[name="filter"] input[type="text"], #mainframe form[name="filter"] textarea {
    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #1b1b1b;

    font-size: 22px;
    padding: 3px 15px;
    box-sizing: border-box;

    background: #525252;
    color: white;
    resize: none;
}

#mainframe form[name="filter"] > table > tbody > tr > td:first-child > input {
    width: calc(50% - 3px);
}

#mainframe form[name="filter"] input[type="checkbox"] {
    box-shadow: 2px 2px 1px 0 #111;
}

#mainframe form[name="filter"] textarea {
    width: 100%;
    font-family: Arial, sans-serif;
}

#mainframe form[name="filter"] > table > tbody > tr:first-child > td:first-child > input {
    display: inline;
    box-sizing: border-box;
}

#mainframe form[name="filter"] label, #mainframe form[name="filter"] p {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: #cfcfcf;
    margin-bottom: 5px;
}

#mainframe form[name="filter"] > table {
    border-spacing: 10px;
    width: 100%;
}

#mainframe form[name="filter"] > table > tbody > tr > td {
    background: #525252;
    border-radius: 5px;

    padding: 10px;
}

#mainframe form[name="filter"] table table {
    width: 100%;
}

#mainframe form[name="filter"] table table tr:first-child td:last-child {
    width: 50%;
}

#mainframe form[name="filter"] table table tr:nth-child(2) td:last-child {
    text-align: right;
    padding-right: 10px;
}

#mainframe form[name="filter"] table td[rowspan="2"] > * {
    display: block;
    margin: 15px 0;
    width: 100%;
}

#mainframe form[name="filter"] table td[rowspan="2"] > button {
    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #1b1b1b;
    background: #6d6d6d;
    color: white;
    font-size: 22px;
}

#searchRes a{
	font-family: Arial, serif;

    color: white;
    background: #525252;
    font-size: 22px;
    padding: 1px 40px;
    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #222;
    text-decoration : none;
}

#searchRes a:hover{
	    box-shadow: 0 0 2px 2px black inset;

}