.notif {
    margin-left : 20%;
    width : 60%;
    margin-right : 20%;
    margin-bottom: 20px;
    background-color: #313131;
    text-decoration-color: #3DB2E1;
    color : white;
    text-align: center;
    display : inline-block;
    border-radius: 5px;
}

.sB {
   box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #1b1b1b;

    font-size: 22px;
    padding: 3px 15px;
    box-sizing: border-box;
    margin-top: 15px;

    background: #525252;
    color: white;
    transition: all 0.3s;
}

.sB:hover {
     color: red;
    border: solid 3px red;
}
}

.notif p {
    text-align: center;
    padding-left: 10px;
}

.invit {
    margin-left : 20%;
    width : 60%;
    margin-right : 20%;
    margin-bottom: 20px;
    background-color: #313131;
    text-decoration-color: #3DB2E1;
    color : white;
    text-align: center;
    display : inline-block;
    border-radius: 5px;
}

.invit p {
    text-align: center;
    padding-left: 10px;
}

.vide {
    margin-left : 20%;
    width : 60%;
    height : 100px;
    margin-right : 20%;
    margin-bottom: 20px;
    background-color: #313131;
    text-decoration-color: #3DB2E1;
    color : white;
    text-align: center;
    display : inline-block;
    text-align: center;
    font-size: 2em;
    padding-left: 10px;
    border-radius: 5px;
}

hr {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom : 20px;
}