#mainframe > div > div {
    background-size: cover;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.bottom {
    background: url("../../resources/img/bottom.png") no-repeat center center fixed;
}

.middle {
    background: url("../../resources/img/middle.png") no-repeat center center fixed;
}

.front {
    background: url("../../resources/img/front.png") no-repeat center center fixed;
}