#profilTable {
    margin: auto;
    width: 72%;
    min-width: 800px;
    border-spacing: 15px;
}

/** ============================== **/
/** ==== Menu de confirmation ==== **/
/** ============================== **/

#myPrompt{
    border-top: solid 10px #FF5B00;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    margin-left: -12.5%;
    margin-top: -150px;

    width: 25%;
    min-width: 300px;
    text-align: center;

    background: #3a3a3a;
    box-shadow: 2px 2px 1px 0 #333;

    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;

    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;

    transform: scale3d(0, 0, 0);
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
}

#myPrompt.open {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
}

#layer.deleteLayer {
    visibility: visible;
    opacity: 0.5;
}

#myPrompt h2 {
    background: #FF5B00;
    color: #b9b9b9;

    border-left: solid 3px #222;
    border-bottom: solid 3px #222;
    border-right: solid 3px #222;

    font-size: 26px;

    display: block;

    height: 40px;
    width: 270px;

    margin: -9px auto 0;
}

#myPrompt button {
    width: 90%;
    font-family: AgencyRegular, Arial, serif;

    color: #b9b9b9;
    background: #3f3f3f;
    font-size: 32px;

    box-shadow: 2px 2px 1px 0 #111;
    border: solid 2px #222;
}

#myPrompt button:active{
    background: #5b5b5b;
}

#myPrompt button{
    margin: 20px;
}

/** ===================== **/
/** ==== Info compte ==== **/
/** ===================== **/

#persoInfo {
    padding: 15px;
    box-shadow: 2px 2px 0 0 #111;
    border-radius: 5px;

    background: #3a3a3a;
    font-family: Arial, sans-serif;
    border-top: solid 15px #40CFF6;
    text-align: center;
}

#persoInfo div {
    display: inline-block;
    width: 49%;
    text-align: center;
}

#persoInfo h3 {
    font-size: 28px;
    color: #cccccc;
}

#persoInfo h2 {
    display: block;
    background: #40CFF6;
    color: white;
    border-right: solid 2px black;
    border-bottom: solid 2px black;

    width: 100px;
    text-align: center;
    margin-top: -30px;
    margin-left: -15px;
    padding: 3px;
}

#persoInfo hr {
    width: 80%;
    margin: auto;
}

#persoInfo table {
    width: 100%;
    table-layout: fixed;
    margin: auto;
    padding-left: 50px;
    border-spacing: 5px;
}

#persoInfo td:first-child {
    color: #40CFF6;
    padding-right: 30px;
    font-weight: bold;
    border-bottom: solid 3px #40CFF6;
    border-right: solid 200px #3a3a3a;
}

#persoInfo td:last-child {
    color: white;
}

#persoInfo td {
    font-size: 22px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
}

#persoInfo #buttonDelete {
    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #1b1b1b;

    font-size: 22px;
    padding: 3px 15px;
    box-sizing: border-box;
    margin-top: 15px;

    background: #525252;
    color: white;
    transition: all 0.3s;
}

#persoInfo #buttonDelete:hover {
    color: red;
    border: solid 3px red;
}

/** ======================== **/
/** ==== Changement mdp ==== **/
/** ======================== **/

#changeForm {
    padding: 15px;
    box-shadow: 2px 2px 0 0 #111;
    border-radius: 5px;

    background: #3a3a3a;
    font-family: Arial, sans-serif;
    border-top: solid 15px #40CFF6;
    text-align: center;
}

#changeForm h2 {
    display: block;
    background: #40CFF6;
    color: white;
    border-right: solid 2px black;
    border-bottom: solid 2px black;

    width: 200px;
    text-align: center;
    margin-top: -30px;
    margin-left: -15px;
    padding: 3px;
}

#changeForm img{
    float: left;
    width: 40px;
    height: 40px;
    padding: 5px;

    background-color: #40CFF6;
    box-shadow: 0 0 5px 0 #333 inset;
}

#changeForm input {
    float: right;
    border: none;
    height: 50px;

    font-size: 22px;
    padding: 0 10px;

    background: #525252;
    color: white;

    position: relative;
    width: calc(100% - 70px);
}

#changeForm input:invalid {
    box-shadow: 0 0 2px 2px red;
}

#changeForm table {
    border-spacing: 10px;
    text-align: left;
}

#changeForm table tr:nth-child(odd) td:last-child {
    display: table;
    border-collapse: collapse;
    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #1b1b1b;

    margin: auto;
    width: 100%;
}

#changeForm table tr:nth-child(odd) td:first-child {
    text-align: right;
    width: 30%;
}

#changeForm table tr:nth-child(even) td[colspan="2"] {
    font-size: 19px;
    font-weight: bold;
    color: #c70000;
    text-shadow: 1px 1px #222222;
}

#changeForm label {
    font-size: 22px;
    color: #e5e5e5;
}

#changeForm table tr:last-child td:last-child {
    text-align: center;
}

#changeForm button {
    font-family: Arial, serif;

    color: white;
    background: #525252;
    font-size: 22px;
    padding: 5px 40px;

    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #222;
}

#changeForm button:hover {
    box-shadow: 0 0 2px 2px black inset;
}

#changeForm table tr:last-child td:first-child {
    color: white;
    font-size: 20px;
}

/** ================== **/
/** ==== Mes Lans ==== **/
/** ================== **/

#myLans {
    display: block;
    width: 100%;
    padding: 15px;
    box-shadow: 2px 2px 0 0 #111;
    box-sizing: border-box;
    border-radius: 5px;

    background: #3a3a3a;
    font-family: Arial, sans-serif;
    border-top: solid 15px #40CFF6;
    text-align: center;
}

#myLans h2 {
    background: #40CFF6;
    color: white;
    border-right: solid 2px black;
    border-bottom: solid 2px black;

    width: 150px;
    text-align: center;
    margin-top: -30px;
    margin-left: -15px;
    padding: 3px;
}

#myLans table {
    width: 100%;
    font-size: 22px;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;

    border: solid 5px #1b1b1b;
}

#myLans table tr:nth-child(odd) {
    background: #494949;
}

#myLans table td {
    padding: 5px 10px;
}

#myLans span {
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 22px;
}

#myLans a {
    display: block;
    font-family: Arial, serif;

    color: white;
    text-decoration: none;
    background: #525252;
    font-size: 22px;
    padding: 5px 40px;

    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #222;
}

#myLans a:hover {
    box-shadow: 0 0 2px 2px black inset;
}