#mainframe form {
    background: #3a3a3a;
    width: 70%;
    box-shadow: 2px 2px 0 0 #333;

    border-top: solid 20px #FF5B00;

    text-align: center;
    margin: auto auto 50px;
    border-bottom: solid 2px #111;
    border-left: solid 2px #111;
    border-right: solid 2px #111;
}

#mainframe table {
    padding: 20px;
    width: 100%;
    text-align: left;
}

#mainframe form table div {
    display: table;
    border-collapse: collapse;
    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #1b1b1b;

    margin: auto;
    width: 70%;
}

#mainframe form td {
    padding: 5px;
    display: block;
}

#mainframe form td[rowspan="3"] {
    width: 100%;
    text-align: justify;
    color: #8e8e8e;
    font-size: 24px;
    font-family: Arial;
    display: none;
}

#mainframe form tr {
    margin: auto;
}

#mainframe form table div {
    display: table-cell;
    vertical-align: middle;
}

#mainframe form label {
    font-size: 26px;
    color: #8e8e8e;
    border-bottom: solid 3px #212121;
    width: 85%;
    display: inline-block;
    margin-bottom: 3px;
    padding-left: 10px;
}

#mainframe form hr {
    width: 40%;
    margin: auto;
}

#mainframe form img{
    display: none;
}

#mainframe form input ,form textarea{
    border: none;
    height: 50px;

    font-size: 28px;
    padding: 0 10px;

    background: #525252;
    color: white;
    resize: none;

    position: relative;
}

#mainframe form textarea{
    height: 200px;
}

#mainframe form table span {
    display: block;
    height: 25px;
    color: #b70000;
    font-size: 20px;
    padding-top: 4px;
    text-align: center;
}

#mainframe form h3 {
    color: #8e8e8e;
    text-align: center;
    font-size: 32px;
    margin-bottom: 3px;
}

#mainframe form input:invalid {
    box-shadow: 0 0 5px 0 red inset;
}

#mainframe form h2 {
    margin: -19px auto auto;
    background: #FF5B00;
    height: 40px;
    width: 200px;
    padding: 8px;
    font-size: 30px;
    color: white;
    border-bottom: solid 5px #212121;
    border-right: solid 5px #212121;
    border-left: solid 5px #212121;
}

#mainframe form button {
    width: 50%;
    font-family: AgencyRegular, Arial, serif;

    color: white;
    background: #525252;
    font-size: 32px;

    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #222;

    margin-bottom: 15px;
}