#mainframe form {
    background: #dddddd;
    width: 70%;
    margin: auto;
    box-shadow: 2px 2px 2px 0 #333;

    text-align: center;
}

#mainframe table {
    padding: 20px;
    width: 100%;
    text-align: left;
}
#mainframe form table div {
    display: table;
    border-collapse: collapse;
    box-shadow: 2px 2px 1px 0 #111;
    border: solid 3px #727272;
}

#mainframe form img {
    display: none;
}

#mainframe form td {
    padding: 5px;
    display: block;
}

#mainframe form label {
    font-size: 26px;
    color: #212121;
}

#mainframe form input {
    border: none;
    height: 50px;

    font-size: 28px;
    padding: 0 10px;

    position: relative;
    width: calc(100% - 20px);
}

#mainframe form table span {
    display: block;
    height: 25px;
    color: red;
    font-size: 20px;
    padding-top: 4px;
}

#mainframe form input:invalid {
    box-shadow: 0 0 5px 0 red inset;
}

#mainframe form h2 {
    background: #FF5B00;
    height: 40px;
    padding: 8px;
    font-size: 30px;
    color: white;
    border-bottom: solid 5px #373737;
}

#mainframe form button {
    width: 50%;
    font-family: AgencyRegular, Arial, serif;

    color: #212121;
    background: #f1f1f1;
    font-size: 32px;

    box-shadow: 2px 2px 1px 0 #111;
    border: solid 2px #222;

    margin-bottom: 15px;
}