#myPrompt{
    border-top: solid 10px #FF5B00;
    position: fixed;
    z-index: 20;
    background: #313131;
    text-align: center;

    top: 0;
    height: 250px;
    width: 100%;

    transition: transform 0.3s;
    transform: translateY(-270px);
}

#myPrompt.open {
    transform: translateY(0px);
}

#layer.deleteLayer {
    visibility: visible;
    opacity: 0.5;
}

#promptTitle{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #489FC7;
}

.ok, .annuler{
    width: 80%;
    height: 45px;
    margin: 30px auto;
    font-family: AgencyRegular, Arial, serif;

    color: #b9b9b9;
    background: #3f3f3f;
    border: none;
    font-size: 32px;
    background: #585858;
}

.ok{
    width: 80%;
    height: 45px;
    margin: 30px auto;
    font-family: AgencyRegular, Arial, serif;

    color: #b9b9b9;
    background: #3f3f3f;
    border: none;
    font-size: 32px;
    background: #585858;
}

.annuler{
    width: 80%;
    height: 45px;
    margin: 30px auto;
    font-family: AgencyRegular, Arial, serif;

    color: #b9b9b9;
    background: #3f3f3f;
    border: none;
    font-size: 32px;
    background: #585858;
}